go 1.24.1

toolchain go1.24.5

use (
	./cbmonitor
	./cmd/config-manager
	./cmd/grafana-app
	./internal/config-manager
	./pkg/config
	./pkg/couchbase
	./pkg/grafana
	./test
)

replace (
	google.golang.org/genproto => google.golang.org/genproto v0.0.0-20210630183607-d20f26d13c79
	google.golang.org/genproto/googleapis/api => google.golang.org/genproto/googleapis/api v0.0.0-20250519155744-55703ea1f237
	google.golang.org/genproto/googleapis/rpc => google.golang.org/genproto/googleapis/rpc v0.0.0-20250519155744-55703ea1f237
)
